/* yeseva-one-regular - latin */
@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/yeseva-one-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/yeseva-one-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/yeseva-one-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/yeseva-one-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/yeseva-one-v20-latin-regular.svg#YesevaOne') format('svg'); /* Legacy iOS */
}

/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/nunito-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/nunito-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/nunito-sans-v12-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

/* Color palette start */
.gold{color: #E3B873;}
.gray{color: #959595;}
.black{color: #363636;}
.white{color: #FFF}
.white30{color:#FFFFFF4D;}
.white50{background: #FFFFFF80;}

.bg-black{background-color: #131313;}
.bg-gold{background-color: #E3B873;}
.bg-transparent{background-color: transparent;}
/* Color palette end */

/* Text transforms start */
.uppercase{text-transform: uppercase;}

.tiny-text{font-size: 11px;}
.small-text{font-size: 13px}
.normal-text{font-size: 14px;}
.average-text{font-size: 18px;}
.big-text{font-size: 20px;}
.large-text{
    font-size: 22px;
    line-height: 36px;
}
.largest-text{font-size: 27px;}
.underline{text-decoration-line: underline;}
/* Text transforms end */

/* General tags stat */
body{font-family: 'Nunito Sans';}
header{height: 83px;}
footer{
    height: 133px;
    background: #181818;
}
h1{
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 19px;
}

h1, h2, h3{
    font-family: 'Yeseva One';
}

nav ul li{
    display: inline;
    margin-right: 47px;
}
a{
    text-decoration: none;
    color: white;
}
/* General tags end */


/* Class tags start */
.fullscreen{width: 100%;}
.container{
    width: 100%; 
    max-width: 1440px; 
    margin: auto;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section:first-of-type{
    height: 707px;
    background: linear-gradient(to top, #000000B2, #000000B2), url(../img/Section1.png);
    background-size: contain;
}
.button-small{
    height: 37px;
    padding-left: 13px;
    padding-right: 13px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 0px;
    border: none;
}
.button-normal{
    height: 51px;
    width: 207px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    margin-right: 20px;
    border: none;
}
.button-ghost{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: none;
    margin-top: 41px;
}
/* Class tags end */